body {
background-image: url(img/pool_table/pool_table/pool_table.png);
}
/* div classes */
.main {
align-items: center;
background-color: rgba(26, 140, 255, 0.8);
border: .1em solid #009dff;
display: flex;
flex-direction: column;
height: 50em;
padding-bottom: 1%;
padding-top: 1%;
width: 80%;
}

.lily {
background-color: rgba(64, 255, 0, 0.85);
border: .1em solid #30fc00;
color: #ff0000;
display: flex;
height: auto;
font-size: 2em;
margin: .2em;
text-shadow: .02em .02em black;
width: 50%;
}

.wood {
background-color: rgba(153, 77, 0, 0.85);
border: .1em solid #804000;
color: #ff9900;
display: flex;
height: auto;
font-size: 2em;
margin: .2em;
text-shadow: .02em .02em black;
width: 50%;
}

.head1 {
justify-content: center;
background-color: rgba(153, 77, 0, 0.85);
border: .1em solid #804000;
color: #ff9900;
display: flex;
height: auto;
font-size: 3em;
margin: .2em;
text-shadow: .02em .02em black;
width: 65%;
}

/* Row */

.happy {
display: flex;
flex-direction: row;
}

/* Main */
.task {
align-items: center;
display: flex;
flex-direction: column;
}

/* Nav Bar */
.up {
background-color: #595959;
border: .1em solid #595959;
color: #2eb82e;
display: flex;
flex-direction: row;
font-size: 1.5em;
justify-content: space-around;
width: 80%;
}

.up :hover {
background-color: #2eb82e;
color: #595959;
width: 80%;
}

/* Footer */

.foot {
background-color: #595959;
border: .1em solid #595959;
color: #2eb82e;
display: flex;
flex-direction: row;
font-size: 1.5em;
width: 80%;
}