body {
background-color: rgba(77, 184, 255, 0.57);
}
/* div classes */
.main {
align-items: center;
background-color: rgba(57, 172, 57, 0.86);
border: .1em solid #009dff;
display: flex;
flex-direction: column;
height: 48.9em;
padding-bottom: 1%;
padding-top: 1%;
width: 80%;
}

.lily {
background-color: #ffffff;
border: .1em solid #ffffff;
color: #ff9900;
display: flex;
height: auto;
justify-content: center;
font-family: 'Oswald', sans-serif;
font-size: 2em;
margin: .2em;
padding: .2em;
text-shadow: .02em .02em black;
width: 50%;
}

.wood {
background-color: rgba(153, 0, 255, 0.83);
border: .1em solid #a31aff;
color: #ffff66;
display: flex;
height: auto;
font-family: 'Oswald', sans-serif;
font-size: 2em;
margin: .2em;
padding: .2em;
text-shadow: .02em .02em #9900ff;
width: 50%;
}

.head1 {
justify-content: center;
background-color: rgba(71, 0, 179, 0.82);
border: .1em solid #03968b;
color: #ffff00;
display: flex;
height: auto;
font-family: 'Oswald', sans-serif;
font-size: 3em;
margin: .2em;
text-shadow: .02em .02em #000066;
width: 65%;
}

/* Row */

.happy {
display: flex;
flex-direction: row;
justify-content: center;
}

/* Main */
.task {
align-items: center;
display: flex;
flex-direction: column;
}

/* Nav Bar */
.up {
background-color: #006600;
border: .1em solid #008000;
display: flex;
flex-direction: row;
font-family: 'Oswald', sans-serif;
font-size: 1.5em;
justify-content: space-around;
width: 80%;
}

.up :visited {
color: #ffff4d;
}

.up :hover {
color: #ffc0cb;
}

/* Footer */

.foot {
background-color: #006600;
border: .1em solid #008000;
color: #ffff4d;
display: flex;
flex-direction: row;
font-family: 'Oswald', sans-serif;
font-size: 1.5em;
width: 80%;
}